<!-- <div class="header-slider normal-slider">
    <div class="header-slider-item">
        <img src="assets/customer/img/slider-1.jpg" alt="Slider Image" />
        <div class="header-slider-caption">
            <p>Some text goes here that describes the image</p>
            <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Shop Now</a>
        </div>
    </div>
</div>
 -->

<div class="header-slider normal-slider">
    <div class="header-slider-item">
        <mat-carousel timings="250ms ease-in" [autoplay]="true" interval="5000" color="accent" maxWidth="auto" proportion="66" slides="5" [loop]="true" [hideArrows]="false" [hideIndicators]="false" [useKeyboard]="true" [useMouseWheel]="false" orientation="ltr">
            <mat-carousel-slide #matCarouselSlide *ngFor="let slide of slides; let i = index" [image]="slide.image" overlayColor="#00000040" [hideOverlay]="false"></mat-carousel-slide>
        </mat-carousel>
        <div class="header-slider-caption">
            <p>Acheter vos produits électroménagers, vos panneaux solaire de qualité</p>
            <a class="btn" routerLink="/products"><i class="fa fa-shopping-cart"></i>Shop Now</a>
        </div>
    </div>
</div>
