<div class="row">
  <div class="col-md-10 col-md-offset-2">
    <h3>Modifié Photo Article</h3>
    <form [formGroup]="this.crudApi.formData" (ngSubmit)="processForm()">

      <div class="form-group">
        <label>Article ID </label>
        <input
          type="text"
          class="form-control"
          formControlName="id"
          id="id"
          disabled
        />
      </div>

      <div class="form-group">
        <label>Choisir Image</label>
        <input
          type="file"
          (change)="onSelectedFile($event)"
          class="select"
          accept="image/*"

          name="photo"
          formControlName="photo"
          id="photo"
        />&nbsp;&nbsp;
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success btn-sm">
          <em class="fa fa-database"></em> Enregistrer </button
        >&nbsp;
        <button
          type="button"
          class="btn btn-danger btn-sm ml-1"
          [mat-dialog-close]
        >
          <em class="fa fa-close"></em> Fermer
        </button>
      </div>
    </form>
  </div>
</div>
