<div class="nav">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <a href="#" class="navbar-brand">MENU</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
              <span class="navbar-toggler-icon"></span>
          </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav mr-auto">
                    <a routerLink="/home" routerLinkActive="active" class="nav-item nav-link">Accueil</a>
                    <a routerLink="/about" class="nav-item nav-link ">A Propos</a>
                    <a routerLink="/products" class="nav-item nav-link ">Nos Produits</a>
                 <!--    <a routerLink="/product-detail" class="nav-item nav-link">Product Detail</a> -->
                    <a routerLink="/cart" routerLinkActive="active" class="nav-item nav-link">Panier</a>
                   <!--  <a routerLink="/checkout" routerLinkActive="active" class="nav-item nav-link ">Checkout</a> -->
                    <a routerLink="/my-account" routerLinkActive="active" class="nav-item nav-link">My Account</a>
                    <a routerLink="/contactus" routerLinkActive="active" class="nav-item nav-link">Nous Contactez</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">More Pages</a>
                        <div class="dropdown-menu">
                            <a routerLink="/wishlist" class="dropdown-item">Wishlist</a>
                            <a routerLink="/register" class="dropdown-item">Login & Register</a>
                            <a routerLink="/about" class="dropdown-item">About</a>
                            <a routerLink="/contactus" class="dropdown-item">Contact Us</a>
                            <a routerLink="/faq" class="dropdown-item">FAQs</a>
                        </div>
                    </div>
                </div>
                <div class="navbar-nav ml-auto">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>Se Connecter</a>
                        <div class="dropdown-menu">
                            <a type="button" routerLink="/login" class="dropdown-item cursor-pointer">Se Connecter</a>
                            <a routerLink="/register" class="dropdown-item cursor-pointer">
                              <i class="fa fa-user"></i>Votre Compte</a>
                            <a routerLink="/my-account" class="dropdown-item cursor-pointer">Vos Commandes</a>
                            <a (click)="logout()" class="dropdown-item cursor-pointer">Deconnecter</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
