<!-- <div class="search">
    <input type="text" #searchInput (keyup.enter)="searchArticle(searchInput.value)" placeholder="Search">
    <button type="submit" (click)="searchArticle(searchInput.value)">
      <i class="fa fa-search"></i>
  </button>
</div>
 -->

<div class="product-search">
    <input type="text" #searchInShopInput (keyup.enter)="searchArticleInShop(searchInShopInput.value)" placeholder="Search">
    <button type="submit" (click)="searchArticleInShop(searchInShopInput.value)">
      <i class="fa fa-search"></i>
    </button>
</div>