<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/admin/accueil/dashborad">
        <!-- <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div> -->
        <div class="sidebar-brand-text mx-3">
          <img  src="assets/admin/img/logo.jpg" width="90" alt="..."> <sup></sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" routerLink="/admin/accueil/dashborad">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Tableau de Bord</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <!-- <div class="sidebar-heading">
        Interface
    </div> -->

    <!-- Nav Item - Pages Collapse Menu -->
  <!--   <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Boutique</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom Components:</h6>
                <a class="collapse-item" routerLink="/admin/accueil/categories">Categorie</a>
                <a class="collapse-item" routerLink="/admin/accueil/scategories">Scategorie</a>
                <a class="collapse-item" routerLink="/admin/accueil/articles">Article</a>
            </div>
        </div>
    </li> -->

    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/accueil/categories">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Categories</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/accueil/scategories">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Scategories</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/accueil/articles">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Articles</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" routerLink="/admin/accueil/fournisseurs">
            <i class="fa fa-users"></i>
            <span>Fournisseurs</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" routerLink="/admin/accueil/clients">
            <i class="fa fa-user-alt"></i>
            <span>Clients</span></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/accueil/commandes-encours">
          <i class="fa fa-shopping-bag"></i>
          <span>CommandeEncours</span></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/accueil/commandes-payees">
          <i class="fa fa-shopping-basket"></i>
          <span>CommandesPayées</span></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/accueil/commandes">
        <i class="fa fa-shopping-cart"></i>
        <span>Commandes</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/accueil/detailsCommandes">
        <i class="fa fa-cart-arrow-down"></i>
        <span>Details Commandes</span></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/accueil/addresses">
        <i class="fa fa-map-marker-alt"></i>
        <span>Addresses Achats</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/accueil/addresses">
        <i class="fa fa-map-marker-alt"></i>
        <span>Addresses Livraisons</span></a>
    </li>

    <!-- Divider -->
   <!--  <hr class="sidebar-divider">

    <div class="sidebar-heading">
        Addons
    </div>
 -->

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" routerLink="/admin/accueil/chart">
            <i class="fa fa-chart-bar"></i>
            <span>Graphiques</span></a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" routerLink="/admin/accueil/notifications">
          <i class="fas fa-bell fa-fw"></i>
          <span>Notifications</span></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/accueil/notifications">
        <i class="fas fa-envelope fa-fw"></i>
        <span>Email</span></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/accueil/states">
        <i class="fa fa-map-marker-alt"></i>
        <span>Départements</span></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/accueil/countries">
        <i class="fa fa-map-marker-alt"></i>
          <span>Régions</span></a>
    </li>



   <!--  <li class="nav-item">
      <a class="nav-link" routerLink="/admin/accueil/newsletters">
          <i class="fa fa-user-alt"></i>
          <span>Newsletter</span></a>
    </li> -->

   <!--  <li class="nav-item">
      <a class="nav-link" routerLink="/admin/accueil/blogs">
          <i class="fa fa-user-alt"></i>
          <span>Blogs</span></a>
    </li> -->

    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/accueil/utilisateurs">
          <i class="fa fa-user-alt"></i>
          <span>Utilisateurs</span></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/accueil/signUp">
          <i class="fa fa-sign-in"></i>
          <span>Créer Compte</span></a>
    </li>

   <!--  <li class="nav-item">
      <a class="nav-link" routerLink="/admin/accueil/historique-Connection">
          <i class="fa fa-cogs"></i>
          <span>Historique Connexion</span></a>
    </li> -->


    <li class="nav-item">
      <a class="nav-link" (click)="logout()" style="cursor: pointer;">
        <i class="fa fa-sign-out-alt"></i>
        <span>Deconnexion</span></a>
    </li>


</ul>





