<div class="row">
  <div class="col-md-10 col-md-offset-2">
    <h2>Modifier Votre Mot de Password</h2>
    <form
      #addUsernameForm="ngForm"
      name="form"
      (ngSubmit)="addUsernameForm.form.valid && onSubmit()"
    >
      <div class="form-group">
        <label>Nom Utilisateur</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="formDataProfile.username"
          name="username"
          id="username"
          #username="ngModel"
          placeholder="votre nom d'utiisateur"
          required
        />
      </div>

      <div class="form-group">
        <label>Ancien Password</label>
        <input
          type="password"
          class="form-control"
          [(ngModel)]="formDataProfile.oldPassword"
          name="oldPassword"
          id="oldPassword"
          #oldPassword="ngModel"
          placeholder="votre ancien password"
          required
        />
      </div>

      <div class="form-group">
        <label>Nouveau Password</label>
        <input
          type="password"
          class="form-control"
          [(ngModel)]="formDataProfile.newPassword"
          name="newPassword"
          id="newPassword"
          #newPassword="ngModel"
          placeholder="votre nouveau password"
          required
        />
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-success">
          <em class="fa fa-database"></em> Enregistrer</button
        >&nbsp;
        <button type="button" class="btn btn-danger ml-1" [mat-dialog-close]>
          <em class="fa fa-close"></em> Fermer
        </button>
      </div>
    </form>
  </div>
</div>

