<div class="featured-product product">
    <div class="container-fluid">
        <div class="section-header">
            <h1>Nos Produits</h1>
        </div>
        <div class="row align-items-center product-slider product-slider-4">

            <!-- <div class="col-lg-3" *ngFor="let product of products; let i = index"> -->
            <div class="col-lg-3" *ngFor="let artDTO of articleListDTOBySelected; let i = index">
                <div class="product-item">
                    <div class="product-title">
                        <!--  <a routerLink="/product-detail/{{product.pSlug}}" (click)="recentClick(product.pSlug)">{{product.pName}}</a> -->
                        <a [routerLink]="['/product-detail', artDTO.reference]">{{artDTO.designation}}</a>
                        <div class="ratting">
                          <!--   <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i> -->

                            <ngb-rating
                                [max]="5"
                                [(rate)]="currentRating"
                                [readonly]="true">
                            </ngb-rating>


                        </div>
                    </div>
                    <div class="product-image">
                        <a [routerLink]="['/product-detail', artDTO.reference]">
                            <img src="{{this.catalogueService.apiServerUrl+'/articles/photoArticle/'+artDTO.id}}" alt="Product Image">
                            <!-- <img src="assets/customer/img/{{product.pImageDefault}}" alt="Product Image"> -->
                        </a>
                        <div class="product-action">
                            <a (click)="addTocart(artDTO)" style="cursor:pointer"><em class="fa fa-cart-plus"></em></a>
                            <!-- <a href="#"><i class="fa fa-heart"></i></a> -->
                            <a [routerLink]="['/product-detail', artDTO.reference]"><em class="fa fa-search"></em></a>
                        </div>
                    </div>
                    <div class="product-price">
                        <h3><span></span>{{ artDTO.price }}f</h3>
                       <!--  <a class="btn" (click)="[add2cart(1,artDTO), buynow()]"><i class="fa fa-shopping-cart"></i>Buy Now</a> -->
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- <div class="featured-product product">
  <div class="container-fluid">
      <div class="section-header">
          <h1>Featured Product</h1>
      </div>
      <div class="row align-items-center product-slider product-slider-4">
          <div class="col-lg-3">
              <div class="product-item">
                  <div class="product-title">
                      <a href="#">Product Name</a>
                      <div class="ratting">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                      </div>
                  </div>
                  <div class="product-image">
                      <a href="product-detail.html">
                          <img src="assets/customer/img/product-1.jpg" alt="Product Image">
                      </a>
                      <div class="product-action">
                          <a href="#"><i class="fa fa-cart-plus"></i></a>
                          <a href="#"><i class="fa fa-heart"></i></a>
                          <a href="#"><i class="fa fa-search"></i></a>
                      </div>
                  </div>
                  <div class="product-price">
                      <h3><span>$</span>99</h3>
                      <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Buy Now</a>
                  </div>
              </div>
          </div>
          <div class="col-lg-3">
              <div class="product-item">
                  <div class="product-title">
                      <a href="#">Product Name</a>
                      <div class="ratting">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                      </div>
                  </div>
                  <div class="product-image">
                      <a href="product-detail.html">
                          <img src="assets/customer/img/product-2.jpg" alt="Product Image">
                      </a>
                      <div class="product-action">
                          <a href="#"><i class="fa fa-cart-plus"></i></a>
                          <a href="#"><i class="fa fa-heart"></i></a>
                          <a href="#"><i class="fa fa-search"></i></a>
                      </div>
                  </div>
                  <div class="product-price">
                      <h3><span>$</span>99</h3>
                      <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Buy Now</a>
                  </div>
              </div>
          </div>
          <div class="col-lg-3">
              <div class="product-item">
                  <div class="product-title">
                      <a href="#">Product Name</a>
                      <div class="ratting">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                      </div>
                  </div>
                  <div class="product-image">
                      <a href="product-detail.html">
                          <img src="assets/customer/img/product-3.jpg" alt="Product Image">
                      </a>
                      <div class="product-action">
                          <a href="#"><i class="fa fa-cart-plus"></i></a>
                          <a href="#"><i class="fa fa-heart"></i></a>
                          <a href="#"><i class="fa fa-search"></i></a>
                      </div>
                  </div>
                  <div class="product-price">
                      <h3><span>$</span>99</h3>
                      <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Buy Now</a>
                  </div>
              </div>
          </div>
          <div class="col-lg-3">
              <div class="product-item">
                  <div class="product-title">
                      <a href="#">Product Name</a>
                      <div class="ratting">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                      </div>
                  </div>
                  <div class="product-image">
                      <a href="product-detail.html">
                          <img src="assets/customer/img/product-4.jpg" alt="Product Image">
                      </a>
                      <div class="product-action">
                          <a href="#"><i class="fa fa-cart-plus"></i></a>
                          <a href="#"><i class="fa fa-heart"></i></a>
                          <a href="#"><i class="fa fa-search"></i></a>
                      </div>
                  </div>
                  <div class="product-price">
                      <h3><span>$</span>99</h3>
                      <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Buy Now</a>
                  </div>
              </div>
          </div>
          <div class="col-lg-3">
              <div class="product-item">
                  <div class="product-title">
                      <a href="#">Product Name</a>
                      <div class="ratting">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                      </div>
                  </div>
                  <div class="product-image">
                      <a href="product-detail.html">
                          <img src="assets/customer/img/product-5.jpg" alt="Product Image">
                      </a>
                      <div class="product-action">
                          <a href="#"><i class="fa fa-cart-plus"></i></a>
                          <a href="#"><i class="fa fa-heart"></i></a>
                          <a href="#"><i class="fa fa-search"></i></a>
                      </div>
                  </div>
                  <div class="product-price">
                      <h3><span>$</span>99</h3>
                      <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Buy Now</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
-->
