<app-main-top></app-main-top>
<div class="container-fluid">
  <div class="row">
      <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h5>Cart</h5>
            </div>
              <div class="card-body cart">
                  <div class="col-sm-12 empty-cart-cls text-center">
                      <h3><strong>Merci de nous avoir fait confiance</strong></h3>
                      <h4>Vous serez livré dans les plus bref delai </h4>
                      <a href="#" class="btn btn-success cart-btn-transform m-3" data-abc="true">télécharger votre facture</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>