<app-main-top></app-main-top>

<!-- Breadcrumb Start -->
<app-breadcrumb></app-breadcrumb>
<!-- Breadcrumb End -->


<!-- Login Start -->
<div class="login">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-sm-12 col-md-6 offset-lg-3">
              <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
                <div class="register-form">
                    <div class="row">

                        <div class="col-md-6">
                            <label>Name</label>
                          <!--   <input class="form-control" type="text" placeholder="Prénom"> -->
                            <input name="name" id="name" formControlName="name" required required="" class="form-control" placeholder="Votre Nom" type="text">
                            <div class="alert alert-danger" *ngIf="registrationForm.get('name').invalid
                                && registrationForm.get('name').touched">
                              <div *ngIf="registrationForm.get('name').errors.required">Votre nom est obligatoire</div>
                            </div>
                        </div>

                        <div class="col-md-6">
                          <label>Last Name *</label>
                          <input name="username" id="username" formControlName="username" required="" class="form-control" placeholder="Nom utilisateur" type="text">
                          <div class="alert alert-danger" *ngIf="registrationForm.get('username').invalid
                            && registrationForm.get('name').touched">
                              <div *ngIf="registrationForm.get('username').errors.required">Votre nom utilisateur est obligatoire</div>
                          </div>
                        </div>

                        <div class="col-md-6">
                          <label>E-MAIL *</label>
                          <input name="email" id="email" formControlName="email" required="" class="form-control" placeholder="Votre Email" type="email">
                          <div class="alert alert-danger" *ngIf="registrationForm.get('email').invalid
                            && registrationForm.get('email').touched">
                              <div *ngIf="registrationForm.get('email').errors.required">Votre mot de email est obligatoire</div>
                          </div>
                        </div>

                        <div class="col-md-6">
                            <label>Nom Utilisateur</label>
                            <input class="form-control" type="text" placeholder="Nom Utilisateur">
                        </div>
                        <div class="col-md-6">
                          <label>Password</label>
                          <input name="password" required="" class="form-control" placeholder="Votre mot de Password" id="password" formControlName="password" type="password">
                          <div class="alert alert-danger" *ngIf="registrationForm.get('password').invalid
                            && registrationForm.get('password').touched">
                              <div *ngIf="registrationForm.get('password').errors.required">Votre mot de passe est obligatoire</div>
                          </div>
                        </div>
                        <div class="col-md-6">
                            <label>Retype Password</label>
                            <input class="form-control" type="text" placeholder="Password">
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-block">Submit</button>
                        </div>
                        <!-- <div class="col-md-12">
                          <p>Vous avez un compte alors connectez-vous : <a routerLink="/login">Ici</a></p>
                       </div> -->

                       <div class="mt-4">
                        <div class="d-flex justify-content-center links">
                            Déjà membre alors ? <a routerLink="/login" class="ml-2">Se-Connecter</a>
                        </div>

                      </div>

                    </div>
                </div>
              </form>
            </div>

           <!--  <div class="col-lg-6">
                <div class="login-form">
                    <div class="row">
                        <div class="col-md-6">
                            <label>E-mail / Username</label>
                            <input class="form-control" type="text" placeholder="E-mail / Username">
                        </div>
                        <div class="col-md-6">
                            <label>Password</label>
                            <input class="form-control" type="text" placeholder="Password">
                        </div>
                        <div class="col-md-12">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="newaccount">
                                <label class="custom-control-label" for="newaccount">Keep me signed in</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button class="btn">Submit</button>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>
<!-- Login End -->
