<app-main-top></app-main-top>

<div class="breadcrumb-wrap">
  <div class="container-fluid">
      <ul class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/">Accueil</a></li>
          <li class="breadcrumb-item active">Créer compte</li>
      </ul>
  </div>
</div>
<div class="login">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
              <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
                <div class="register-form">
                    <div class="row">

                        <div class="col-md-6">
                            <label>Nom&Prénom</label>
                            <input name="name" id="name" formControlName="name" required class="form-control" placeholder="Votre nom et prénom" type="text">
                            <div class="alert alert-danger" *ngIf="registrationForm.get('name').invalid
                                && registrationForm.get('name').touched">
                              <div *ngIf="registrationForm.get('name').errors.required">Votre nom est obligatoire</div>
                            </div>
                        </div>

                        <div class="col-md-6">
                          <label>Nom utilisateur *</label>
                          <input name="username" id="username" formControlName="username" required="" class="form-control" placeholder="Nom utilisateur" type="text">
                          <div class="alert alert-danger" *ngIf="registrationForm.get('username').invalid
                            && registrationForm.get('name').touched">
                              <div *ngIf="registrationForm.get('username').errors.required">Votre nom utilisateur est obligatoire</div>
                          </div>
                        </div>

                        <div class="col-md-6">
                          <label>E-MAIL *</label>
                          <input name="email" id="email" formControlName="email" required="" class="form-control" placeholder="Votre Email" type="email">
                          <div class="alert alert-danger" *ngIf="registrationForm.get('email').invalid
                            && registrationForm.get('email').touched">
                              <div *ngIf="registrationForm.get('email').errors.required">Votre mot de email est obligatoire</div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <label>Password</label>
                          <input name="password" required="" class="form-control" placeholder="Votre mot de Password" id="password" formControlName="password" type="password">
                          <div class="alert alert-danger" *ngIf="registrationForm.get('password').invalid
                            && registrationForm.get('password').touched">
                              <div *ngIf="registrationForm.get('password').errors.required">Votre mot de passe est obligatoire</div>
                          </div>
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-block">Créer compte</button>
                        </div>
                       <div class="mt-4">
                        <div class="d-flex justify-content-center links">
                            Vous avez Déjà un compte alors ? <a routerLink="/login" class="ml-2">Se-Connecter</a>
                        </div>

                      </div>

                    </div>
                </div>
              </form>
            </div>
        </div>
    </div>
</div>
<!-- Login End -->


<app-main-footer></app-main-footer>
