<div class="product-price-range">
    <div class="dropdown">
        <div class="dropdown-toggle" data-toggle="dropdown">Product price range</div>
        <div class="dropdown-menu dropdown-menu-right" *ngFor="let artDTO of articleListDTOBs; let i = index">
            <a type="submit" [routerLink]="['/searchbyPrice', artDTO.price]" class="dropdown-item">{{artDTO.price}}</a>

            <!-- <a href="#" class="dropdown-item">$101 to $150</a>
            <a href="#" class="dropdown-item">$151 to $200</a>
            <a href="#" class="dropdown-item">$201 to $250</a>
            <a href="#" class="dropdown-item">$251 to $300</a>
            <a href="#" class="dropdown-item">$301 to $350</a>
            <a href="#" class="dropdown-item">$351 to $400</a>
            <a href="#" class="dropdown-item">$401 to $450</a>
            <a href="#" class="dropdown-item">$451 to $500</a> -->
        </div>
    </div>
</div>
