<app-main-top></app-main-top>

<!-- Breadcrumb Start -->
<!-- <app-breadcrumb></app-breadcrumb> -->
<div class="breadcrumb-wrap">
  <div class="container-fluid">
      <ul class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/">Accueil</a></li>
          <li class="breadcrumb-item active">A Propos</li>
      </ul>
  </div>
</div>
<!-- Breadcrumb End -->

  <div class="page-content pb-0">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mb-3 mb-lg-0">
          <h2 class="title">Qui somme nous ?</h2>
          <!-- End .title -->
          <p>
            Soulbusinesse est un site de vente en ligne à Dakar au Senegal a été créé en mai 2023 avec l'objectif de faciliter à ses clients d'obtenir des articles de tout types à des prix abordable.
            Soulbusinesse propose des livraison dans plusieurs régions du Sénégal mais aussi de la sous-régions.
            Avec une équipe jeunes et dynamique et professionnelle voué à satisfaire sa clientel.
            Nous sommes près à vous servir et vous satisfaire autant que possible.
          </p>
        </div>
        <!-- End .col-lg-6 -->

        <div class="col-lg-6">
          <h2 class="title">Nos Produits</h2>
          <!-- End .title -->
          <p>
            Soulbusinesse vous propose des produits de qualité et authentique. Nous vendons différents types
            de produits. Vous aurez une liste exhaustives de choix de produits.
            Nos produits viennent de la Turkie, Dubai et France. Nous travaillons en étroite collaboration
            avec des fournisseurs.
            <br />Pour plus d'informations veuillez visitez notre boutique ou appeler directement ou
            Par whatchap au 77 147 75 28
          </p>
        </div>
        <!-- End .col-lg-6 -->
      </div>
      <!-- End .row -->

      <div class="mb-5"></div>
      <!-- End .mb-4 -->
    </div>
    <!-- End .container -->


      <hr class="mt-4 mb-6" />


    </div>


    <div class="mb-2"></div>


<app-main-footer></app-main-footer>
