<div class="row">
  <input
    type="text"
    class="form-control"
    placeholder="Search"
    [(ngModel)]="searchText"
  />

  <button
    _ngcontent-roy-c3=""
    class="btn-meeting"
    type="submit"
    style="margin-left: 5%; width: 30%"
    routerLink="/admin/accueil/fournisseur"
  >
    Ajouter fournisseur
  </button>
</div>

<div class="table-responsive">
  <table class="table table-striped" aria-label="">
    <thead class="thead-inverse">
      <tr>
        <th>Article</th>
        <th>Fournisseur</th>
        <th>Addresse</th>
        <th>Telephone</th>
        <th>Email</th>
        <th>Pays</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let fourDTO of fournisseurDTOList
            | filter: searchText
            | paginate: { itemsPerPage: 20, currentPage: p }
        "
      >
        <td>{{ fourDTO?.articleDto.designation }}</td>
        <td>{{ fourDTO?.firstName }} {{ fourDTO?.lastName }}</td>
        <td>{{ fourDTO?.rue }}</td>
        <td>{{ fourDTO?.telephone }}</td>
        <td>{{ fourDTO?.email }}</td>
        <td>{{ fourDTO?.city }}</td>

        <td class="text-right">
          <button
            class="btn btn-primary btn-sm"
            [routerLink]="['/admin/accueil/fournisseur', fourDTO.id]"
          >
            <em class="fa fa-edit" aria-hidden="true"></em></button
          >&nbsp;

          <button
            class="btn btn-danger btn-sm"
            (click)="confirmDialog(fourDTO.id)"
          >
            <i class="fa fa-trash" aria-hidden="true"></i></button
          >&nbsp;
        </td>
      </tr>
    </tbody>
  </table>
  <div class="pagination">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
