<div class="row justify-content-center">
  <div class="col-md-8 col-md-offset-2">
    <h1>Envoi Email au Fournisseur</h1>
    <form [formGroup]="this.crudApi.dataForm" (ngSubmit)="onSubmit()">
      <input type="hidden" formControlName="id" id="id" />
      <div class="form-group">
        <label>A</label>
        <input
          type="text"
          class="form-control"
          formControlName="email"
          id="email"
        />
      </div>

      <div class="form-group">
        <label>Object</label>
        <input
          type="text"
          class="form-control"
          formControlName="subject"
          id="subject"
        />
      </div>

      <div class="form-group">
        <label for="email">Message</label>
        <textarea
          name="message"
          class="form-control"
          formControlName="message"
          id="message"
          cols="30"
          rows="10"
        ></textarea>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary">Send Message</button
        >&nbsp;
        <button type="button" class="btn btn-danger" [mat-dialog-close]>
          <em class="fa fa-close"></em> Fermer
        </button>
      </div>
    </form>
  </div>
</div>
