
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1><i class="fa fa-angle-right"></i> List des notifications</h1>
        </div>
        <div class="row">
          <input
            type="text"
            class="form-control"
            placeholder="Search"
            [(ngModel)]="searchText"
          />
        </div>

        <table class="table table-striped" aria-label="">
          <thead class="thead-inverse">
            <tr>
              <th>Nbre Etoile</th>
              <th>Observation</th>
              <th>Article</th>
              <th>Utilisateur</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let noteDTO of notificationDTOList
                  | filter: searchText
                  | paginate: { itemsPerPage: 20, currentPage: p }
              "
            >
              <td>{{ noteDTO?.nbreEtoile }}</td>
              <td>{{ noteDTO?.observation }}</td>
              <td>{{ noteDTO?.articleDto.designation }}</td>
              <td>{{ noteDTO?.utilisateurDto.name }}</td>

              <td class="text-right">
                <button
                  class="btn btn-danger btn-sm"
                  (click)="confirmDialog(noteDTO.id)"
                >
                  <i class="fa fa-trash" aria-hidden="true"></i></button
                >&nbsp;
              </td>
            </tr>
          </tbody>
        </table>
        <div class="pagination">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
     