<div id="wrapper">
    <app-backend-sidebar></app-backend-sidebar>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <app-backend-header></app-backend-header>
            <div class="container-fluid">

                <h4><i class="fa fa-angle-right"></i> List of addressLivraisons</h4>

                  <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchText" />

                <div>

                    <table class="table table-striped">

                        <thead class="thead-inverse">
                            <tr>
                                <th>Numéro Commande</th>
                                <th>Pays</th>
                                <th>Région</th>
                                <th>Ville</th>
                                <th>Rue</th>
                                <th>Téléphone</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let addLivraisonDTO of addressLivraisonDTOList | filter:searchText | paginate: {itemsPerPage: 10, currentPage: p} ">
                               <td>{{addLivraisonDTO?.commandeDto.numeroCommande}}</td>
                                <td>{{addLivraisonDTO?.country}}</td>
                                <td>{{addLivraisonDTO?.state}}</td>
                                <td>{{addLivraisonDTO?.city}}</td>
                                <td>{{addLivraisonDTO?.rue}}</td>
                                <td>{{addLivraisonDTO?.phone}}</td>

                                <td class="text-right">
                                  <button
                                    class="btn btn-danger btn-sm"
                                    (click)="onDeleteAddressLivraison(addLivraisonDTO.id)"
                                  >
                                    <i class="fa fa-trash" aria-hidden="true"></i></button
                                  >&nbsp;
                                </td>
                            </tr>
                        </tbody>

                    </table>
                    <div class="pagination ">
                        <pagination-controls (pageChange)="p=$event"></pagination-controls>
                    </div>
                </div>
            </div>


        </div>
        <app-backend-footer></app-backend-footer>
    </div>
