<!-- Card Body -->

<div class="chart-pie pt-4 pb-2">
  <!--    <canvas id="myPieChart"></canvas>

-->
  <input
    type="text"
    class="form-control"
    placeholder="Search"
    [(ngModel)]="searchText"
    style="margin-top: 0px"
  />

  <div class="table-responsive">
    <table
      class="table table-striped"
      aria-label=""
      style="margin-top: 8px; height: 330px"
    >
      <thead class="thead-inverse">
        <tr>
          <th>Article</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Date</th>
          <!--     <th>Action</th> -->
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let ligneComDTO of ligneCommandeDTOList
              | filter: searchText
              | paginate: { itemsPerPage: 15, currentPage: p }
          "
        >
          <td>{{ ligneComDTO?.productName }}</td>
          <td>{{ ligneComDTO?.quantity }}</td>
          <td>{{ ligneComDTO?.price }}</td>
          <td>
            {{ ligneComDTO?.commandeDto?.dateCommande | date: "dd-MM-yyyy" }}
          </td>
        </tr>
      </tbody>
    </table>
    <div class="pagination">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>
