<div id="wrapper">
  <app-backend-sidebar></app-backend-sidebar>
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <app-backend-header></app-backend-header>
      <div class="container-fluid">
        <div
          class="d-sm-flex align-items-center justify-content-between mb-4"
        ></div>

        <div class="row">
          <input
            type="text"
            class="form-control"
            placeholder="Search"
            [(ngModel)]="searchText"
          />
        </div>

        <div class="table-responsive">
          <table class="table table-striped" aria-label="">
            <thead class="thead-inverse">
              <tr>
                <th>#</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let clientDTO of clientDTOList
                    | filter: searchText
                    | paginate: { itemsPerPage: 20, currentPage: p }
                "
              >
                <td>{{ clientDTO?.id }}</td>
                <td>{{ clientDTO?.firstName }}</td>
                <td>{{ clientDTO?.lastName }}</td>
                <td>{{ clientDTO?.email }}</td>
                <td>{{ clientDTO?.mobile }}</td>

                <td>
                  <button
                    class="btn btn-danger btn-sm"
                    (click)="confirmDialog(clientDTO.id)"
                  >
                    <i class="fa fa-trash" aria-hidden="true"></i></button
                  >&nbsp;
                </td>
              </tr>
            </tbody>
          </table>
          <div class="pagination">
            <pagination-controls
              (pageChange)="p = $event"
            ></pagination-controls>
          </div>
        </div>
      </div>
    </div>

    <app-backend-footer></app-backend-footer>
  </div>
</div>
