<div class="row">
  <input
    type="text"
    class="form-control"
    placeholder="Search"
    [(ngModel)]="searchText"
  />

  <button
    _ngcontent-roy-c3=""
    class="btn-meeting"
    (click)="addEditState(null)"
    type="submit"
    style="margin-left: 5%; width: 30%"
  >
    <em class="fa fa-plus"> </em> Ajouter département
  </button>
</div>
<div class="table-responsive">
  <table class="table table-striped" aria-label="">
    <thead class="thead-inverse">
      <tr>
        <th>#</th>
        <th>Région</th>
        <th>Nom</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let categoryDTO of crudApi.listData
            | filter: searchText
            | paginate: { itemsPerPage: 20, currentPage: p };
          let i = index
        "
      >
        <td>{{ categoryDTO?.id }}</td>
        <td>{{ categoryDTO?.countryDto.name }}</td>
        <td>{{ categoryDTO?.name }}</td>

        <td>
          <button
            class="btn btn-warning btn-lg"
            (click)="addEditState(i)"
          >
            <i class="fa fa-edit" aria-hidden="true"></i></button
          >&nbsp;

          <button
            class="btn btn-danger btn-lg"
            (click)="confirmDialog(categoryDTO.id)"
          >
            <i class="fa fa-trash" aria-hidden="true"></i></button
          >&nbsp;
        </td>
      </tr>
    </tbody>
  </table>
  <div class="pagination">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
