
<!-- Cart Start -->
<div class="container-fluid">
  <div class="row">
      <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h5>Confirmation de Création de Compte</h5>
            </div>
              <div class="card-body cart">
                  <div class="col-sm-12 empty-cart-cls text-center">
                      <h3><strong>Votre compte a été crée avec succès</strong></h3>
                      <h4>Veuillez vous connecter pour gérer votre boutique </h4>
                      <a routerLink="/admin" class="btn btn-success cart-btn-transform m-3" data-abc="true">Se Connecter</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>




<!-- Cart End -->
