<!-- <app-main-top></app-main-top> -->
<app-main-top></app-main-top>

<!-- Breadcrumb Start -->
<!-- <app-breadcrumb></app-breadcrumb> -->
<div class="breadcrumb-wrap">
  <div class="container-fluid">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Accueil</a></li>
      <li class="breadcrumb-item"><a routerLink="/products">Boutique</a></li>
      <li class="breadcrumb-item active">Checkout</li>
    </ul>
  </div>
</div>
<!-- Breadcrumb End -->

<!-- Checkout Start -->
<div class="checkout">
  <div class="container-fluid">
    <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
      <div class="row">
        <!--   <input type="text" class="form-control" formControlName="id" [value]="this.userId"  required> -->

        <div class="col-lg-8">
          <!-- Customer info -->
          <div class="checkout-inner">
            <div class="billing-address">
              <h2>Information Personnels</h2>
              <div class="row" formGroupName="customer">
                <div class="col-md-6">
                  <label>Prénom</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="firstName"
                    placeholder="Votre prénom"
                    required
                  />

                  <!--   <div *ngIf="f['firstName'].invalid && (f['firstName'].dirty || f['firstName'].touched)" class="alert alert-danger mt-1">
                                  <div *ngIf="f['firstName'].errors.required">
                                      First Name is required
                                  </div>
                                  <div *ngIf="f['firstName'].errors.minlength">
                                      First Name must be at least 2 characters long.
                                  </div>
                                </div> -->
                </div>

                <div class="col-md-6">
                  <label>Nom"</label>
                  <input
                    class="form-control"
                    formControlName="lastName"
                    type="text"
                    placeholder="Votre prénom"
                  />
                </div>

                <div class="col-md-6">
                  <label>E-mail</label>
                  <input
                    class="form-control"
                    formControlName="email"
                    type="text"
                    placeholder="E-mail"
                  />
                </div>

                <div class="col-md-6">
                  <label>Mobile No</label>
                  <input
                    class="form-control"
                    formControlName="mobile"
                    type="text"
                    placeholder="Mobile No"
                  />
                </div>
              </div>
            </div>
          </div>

          <!-- End Customer info -->

          <!-- Shipping info -->
          <div class="checkout-inner">
            <div class="billing-address">
              <h2>Addresse Achat</h2>
              <div class="row" formGroupName="shippingAddress">
                <div class="col-md-12">
                  <label>Rue</label>
                  <input
                    class="form-control"
                    formControlName="rue"
                    type="text"
                    placeholder="Rue"
                  />
                </div>

                <div class="col-md-12">
                  <label>Quartier</label>
                  <input
                    class="form-control"
                    formControlName="city"
                    type="text"
                    placeholder="ville"
                  />
                </div>

                <div class="col-md-12">
                  <label>Region</label>

                  <select
                    formControlName="country"
                    (change)="getStates('shippingAddress')"
                    class="custom-select"
                  >
                    <option
                      *ngFor="let country of listCountryDto"
                      [ngValue]="country"
                    >
                      {{ country.name }}
                    </option>
                  </select>
                </div>

                <div class="col-md-12">
                  <label>Departement</label>
                  <select formControlName="state" id="" class="custom-select">
                    <option
                      *ngFor="let tempState of shippingAddressStates"
                      [ngValue]="tempState"
                    >
                      {{ tempState.name }}
                    </option>
                  </select>
                </div>

                <div class="col-md-12">
                  <label>ZIP Code</label>
                  <input
                    class="form-control"
                    formControlName="zipcode"
                    type="text"
                    placeholder="ZIP Code"
                  />
                </div>
                <div class="col-md-12">
                  <div class="custom-control custom-checkbox">
                    <input
                      type="checkbox"
                      (change)="copyShippingAddressToBillingAddress($event)"
                      class="custom-control-input"
                      id="shipto"
                    />
                    <label class="custom-control-label" for="shipto"
                      >Choisir la meme addresse</label
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Shipping info -->
          <div class="billing-address">
            <h2>Addresse Livraison</h2>
            <div class="row" formGroupName="billingAddress">
              <div class="col-md-12">
                <label>Rue</label>
                <input
                  class="form-control"
                  formControlName="rue"
                  type="text"
                  placeholder="Rue"
                />
              </div>

              <div class="col-md-12">
                <label>Quartier</label>
                <input
                  class="form-control"
                  formControlName="city"
                  type="text"
                  placeholder="ville"
                />
              </div>

              <div class="col-md-12">
                <label>Région</label>

                <select
                  formControlName="country"
                  (change)="getStates('billingAddress')"
                  class="custom-select"
                >
                  <option
                    *ngFor="let country of listCountryDto"
                    [ngValue]="country"
                  >
                    {{ country.name }}
                  </option>
                </select>
              </div>

              <div class="col-md-12">
                <label>Département</label>
                <select formControlName="state" id="" class="custom-select">
                  <option
                    *ngFor="let tempState of billingAddressStates"
                    [ngValue]="tempState"
                  >
                    {{ tempState.name }}
                  </option>
                </select>
              </div>

              <div class="col-md-12">
                <label>ZIP Code</label>
                <input
                  class="form-control"
                  formControlName="zipcode"
                  type="text"
                  placeholder="ZIP Code"
                />
              </div>

            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <!--  <div class="checkout-inner" *ngIf="cartItems.length > 0 "> -->
          <div class="checkout-inner">
            <div class="checkout-summary">
              <h1>Total Panier</h1>
              <div *ngFor="let item of cartItems; let i = index">
                <p>
                  <img
                    [src]="
                      this.catalogueService.apiServerUrl +
                      '/articles/photoArticleInContext/' +
                      item.id +
                      '?ts=' +
                      getTS()
                    "
                    style="width: 40px; height: 40px"
                    alt="Product Image"
                  />
                  {{ item.name }}
                  <span style="text-align: right">{{ item.unitPrice }}f</span>
                </p>
              </div>
              <!--    <p class="sub-total">Sub Total<span>$99</span></p>
                      <p class="ship-cost">Shipping Cost<span>$1</span></p>
                      <h2>Grand Total<span>$100</span></h2> -->

              <p class="sub-total">
                Sous Total<span>{{ totalPrice }}</span>
              </p>
              <!--  <p class="ship-cost">Shipping Cost<span>${{shippingCost}}</span></p>
                      <h2>Total Net<span>${{totalPrice + shippingCost}}f</span></h2> -->
              <h2>
                Total Net<span>{{ totalPrice }}f</span>
              </h2>
            </div>

            <div class="checkout-payment">
              <!--  <div class="payment-methods">
                          <h1>Payment Methods</h1>
                          <div class="payment-method">
                              <div class="custom-control custom-radio">
                                  <input type="radio" class="custom-control-input" id="payment-1" name="payment">
                                  <label class="custom-control-label" for="payment-1">Orange Money</label>
                              </div>
                              <div class="payment-content" id="payment-1-show">
                                  <p>
                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt orci ac eros volutpat maximus lacinia quis diam.
                                  </p>
                              </div>
                          </div>
                          <div class="payment-method">
                              <div class="custom-control custom-radio">
                                  <input type="radio" class="custom-control-input" id="payment-2" name="payment">
                                  <label class="custom-control-label" for="payment-2">Wave</label>
                              </div>
                              <div class="payment-content" id="payment-2-show">
                                  <p>
                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt orci ac eros volutpat maximus lacinia quis diam.
                                  </p>
                              </div>
                          </div>
                          <div class="payment-method">
                              <div class="custom-control custom-radio">
                                  <input type="radio" class="custom-control-input" id="payment-3" name="payment">
                                  <label class="custom-control-label" for="payment-3">Tigo Cash</label>
                              </div>
                              <div class="payment-content" id="payment-3-show">
                                  <p>
                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt orci ac eros volutpat maximus lacinia quis diam.
                                  </p>
                              </div>
                          </div>
                          <div class="payment-method">
                              <div class="custom-control custom-radio">
                                  <input type="radio" class="custom-control-input" id="payment-4" name="payment">
                                  <label class="custom-control-label" for="payment-4">A La Livraison </label>
                              </div>
                              <div class="payment-content" id="payment-4-show">
                                  <p>
                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt orci ac eros volutpat maximus lacinia quis diam.
                                  </p>
                              </div>
                          </div>

                      </div> -->

              <div class="checkout-btn">
                <button type="submit">Valider votre commande</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- Checkout End -->

<app-main-footer></app-main-footer>
