<div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h2>Nous Contactez</h2>
                    <div class="contact-info">
                        <p><i class="fa fa-map-marker"></i>213 2è Etages, Touba Sandaga, Dakar</p>
                        <p><i class="fa fa-envelope"></i>support@Soulbusiness.com</p>
                        <p><i class="fa fa-phone"></i>+221 77 147 75 28</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h2>Nous suivres</h2>
                    <div class="contact-info">
                        <div class="social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                            <a href=""><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h2>Qui sommes nous ?</h2>
                    <ul>
                        <li><a routerLink="/about">A Propos</a></li>
                        <li><a routerLink="/about">Privacy Policy</a></li>
                        <li><a routerLink="/about">Terms & Condition</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h2>Information Payement</h2>
                    <ul>
                        <li><a href="#">Payement à la livraison</a></li>
                        <li><a href="#">Livraison à la charge du client</a></li>
                        <li><a href="#">Retourner dans les 10 jours</a></li>
                    </ul>
                </div>
            </div>
        </div>

       <!--  <div class="row payment align-items-center">
            <div class="col-md-6">
                <div class="payment-method">
                    <h2>We Accept:</h2>
                    <img src="assets/customer/img/payment-method.png" alt="Payment Method" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="payment-security">
                    <h2>Secured By:</h2>
                    <img src="assets/customer/img/godaddy.svg" alt="Payment Security" />
                    <img src="assets/customer/img/norton.svg" alt="Payment Security" />
                    <img src="assets/customer/img/ssl.svg" alt="Payment Security" />
                </div>
            </div>
        </div> -->
    </div>
</div>
