<div class="sidebar-widget category">
    <h2 class="title">Category</h2>
    <nav class="navbar bg-light">
        <ul class="navbar-nav" *ngFor="let scatDTO of scategoryListDTOs; let i = index">
            <li class="nav-item">
                <a [routerLink]="['/category', scatDTO.id]" class="nav-link " style="cursor: pointer; ">
                    <i class="fa fa-female "></i>{{scatDTO.libelle}}</a>
            </li>
            <!--    <li class="nav-item ">
                <a class="nav-link " href="# "><i class="fa fa-child "></i>Kids & Babies Clothes</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " href="# "><i class="fa fa-tshirt "></i>Men & Women Clothes</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " href="# "><i class="fa fa-mobile-alt "></i>Gadgets & Accessories</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " href="# "><i class="fa fa-microchip "></i>Electronics & Accessories</a>
            </li> -->
        </ul>
    </nav>
</div>
<app-sidebar-slider></app-sidebar-slider>
<app-sidebar-brands></app-sidebar-brands>
<app-sidebar-tag></app-sidebar-tag>