<app-main-top></app-main-top>

<!-- Breadcrumb Start -->
<app-breadcrumb></app-breadcrumb>
<!-- Breadcrumb End -->

<!-- Cart Start -->
<div class="cart-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div *ngIf="cartItems.length > 0 ">
                    <div class="cart-page-inner">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Product</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                        <th>Remove</th>
                                    </tr>
                                </thead>
                                <tbody class="align-middle">
                                    <tr *ngFor="let item of cartItems; let i=index;">
                                        <td>
                                            <div class="img">
                                                <!--  <a href="#"><img src="assets/customer/img/{{item.data.pImageDefault}}" alt="Image"></a> -->
                                                <img [src]="this.catalogueService.apiServerUrl+'/articles/photoArticle/'+item.id+'?ts='+getTS()" alt="Product Image">
                                                <p>{{item.name}}</p>
                                            </div>
                                        </td>
                                        <td>${{item.unitPrice}}</td>
                                        <!-- <td>$99</td> -->
                                        <td>
                                            <div class="qty">
                                                <button class="btn-minus" (click)="decrementQuantity(item)" style="cursor: pointer;"><i class="fa fa-minus"></i></button>
                                                <input type="text" value="{{item.quantity}}">
                                                <button class="btn-plus" (click)="inCrementQuantity(item)" style="cursor: pointer;"><i class="fa fa-plus"></i></button>
                                            </div>
                                        </td>
                                        <td>${{item.unitPrice * item.quantity}}</td>
                                        <td><button (click)="removeCart(item)" style="cursor: pointer;"><i class="fa fa-trash"></i></button></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


               <!--  <div class="col-lg-8-offset-2" *ngIf="cartItems.length == 0" class="alert alert-warning" role="alert" style="text-align:center;">
                    Votre panier est vide
                </div> -->

                <div class="center" *ngIf="cartItems.length == 0" >

                      <div class="col-md-12">
                          <div class="card">
                            <div class="card-header">
                              <h5>PANIER</h5>
                            </div>

                            <div class="card-body cart">
                              <div class="col-sm-12 empty-cart-cls text-center">
                                <img src="https://i.imgur.com/dCdflKN.png" width="50" height="50" class="img-fluid mb-3 mr-2">
                                <h3><strong>VOTRE PANIER EST VIDE</strong></h3>
                                  <h4>Veuillez Ajouter des articles à votre panier :)</h4>
                                  <a routerLink="/home" class="btn btn-success cart-btn-transform m-3" data-abc="true">continuer votre achat</a>
                              </div>
                            </div>
                             <!--  <div class="card-body cart">
                                  <div class="col-sm-12 empty-cart-cls text-center">
                                      <h3><strong>VOTRE PANIER EST VIDE</strong></h3>
                                      <h4>Veuillez Ajouter des articles à votre panier </h4>
                                      <a routerLink="/home" class="btn btn-success cart-btn-transform m-3" data-abc="true">continuer</a>
                                  </div>
                              </div> -->
                          </div>
                      </div>

                </div>

            </div>
            <div class="col-lg-4">
                <div class="cart-page-inner" *ngIf="cartItems.length > 0 ">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="coupon">
                                <input type="text" placeholder="Coupon Code">
                                <button>Apply Code</button>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="cart-summary">
                                <div class="cart-content">
                                    <h1>Cart Summary</h1>
                                    <p>Sub Total<span>${{totalPrice}}</span></p>
                                    <p>Shipping Cost<span>${{shippingCost}}</span></p>
                                    <h2>Grand Total<span>${{totalPrice + shippingCost}}</span></h2>
                                </div>
                                <div class="cart-btn">
                                    <button>Continuer Achat</button>
                                    <button routerLink="/checkout">Poursuivre</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cart End -->
