<div class="bottom-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-3">
                <div class="logo">
                    <a routerLink="/home">
                        <img src="assets/customer/img/logo.jpg" alt="Logo">
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <app-search></app-search>
            </div>

            <div class="col-md-3">
                <div class="user">
                    <a class="btn wishlist">
                        <!-- <i class="fa fa-heart"></i> -->
                        <!-- <span>(0)</span> -->
                       <!--  <span>({{totalPrice | currency: 'USD'}})</span> -->
                       <span>F. CFA</span>
                        <span>({{ totalPrice }})</span>
                    </a>

                    <a routerLink="/cart" class="btn cart">
                        <i class="fa fa-shopping-cart"></i>
                        <span>({{totalQuantity}})</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>