

        <h3><i class="fa fa-angle-right"></i> List des addresses d'Achats</h3>

          <div class="row">
            <input
              type="text"
              class="form-control"
              placeholder="Search"
              [(ngModel)]="searchText"
            />
          </div>
          <div class="table-responsive">
            <table class="table table-striped" aria-label="">
              <thead class="thead-inverse">
                <tr>
                  <th>Rue</th>
                  <th>Ville</th>
                  <th>Région</th>
                  <th>Pays</th>
                  <th>Code Zip</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let addClientDTO of addressLivraisonDTOList
                      | filter: searchText
                      | paginate: { itemsPerPage: 20, currentPage: p }
                  "
                >
                <td>{{ addClientDTO?.rue }}</td>
                <td>{{ addClientDTO?.city }}</td>
                <td>{{ addClientDTO?.state }}</td>
                <td>{{ addClientDTO?.country }}</td>
                <td>{{ addClientDTO?.zipcode }}</td>

                  <td>
                    <button
                      class="btn btn-danger btn-sm"
                      (click)="onDeleteAddressClient(addClientDTO.id)"
                    >
                      <i class="fa fa-trash" aria-hidden="true"></i></button
                    >&nbsp;
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="pagination">
              <pagination-controls
                (pageChange)="p = $event"
              ></pagination-controls>
            </div>
          </div>

      