<div id="wrapper">
    <app-backend-sidebar></app-backend-sidebar>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <app-backend-header></app-backend-header>
            <div class="container-fluid">

                <h3><i class="fa fa-angle-right"></i> List of addressClients</h3>
                <div>

                    <div class="row">
                        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchText" />
                        <!--
        <button _ngcontent-roy-c3="" class="btn-meeting" type="submit" style="margin-left: 5%; width: 30%;" (click)="onCreateFournisseur()">Add fournisseur</button>
 -->
                    </div>

                    <table class="table table-striped">

                        <thead class="thead-inverse">
                            <tr>
                                <th>Reference</th>
                                <th>Client</th>
                                <th>Quartier</th>
                                <th>Phone</th>
                                <th>City</th>
                                <th>Rue</th>
                                <th>Country</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let addClientDTO of addressClientDTOList | filter:searchText | paginate: {itemsPerPage: 4, currentPage: p} ">
                                <td>{{addClientDTO?.reference}}</td>
                                <td>{{addClientDTO?.clientDto.firstName}} {{addClientDTO?.clientDto.lastName}}</td>
                                <td>{{addClientDTO?.phone}}</td>
                                <td>{{addClientDTO?.city}}</td>
                                <td>{{addClientDTO?.rue}}</td>
                                <td>{{addClientDTO?.country}}</td>

                                <td>
                                    <div class="container ">
                                        <!--   <button mat-raised-button class="action-button btn-primary" (click)="addEditFournisseur(categoryDTO) ">
                          <mat-icon>edit</mat-icon>
                        </button> -->
                                        <button mat-raised-button class="action-button btn-danger" (click)="onDeleteAddressClient(addClientDTO)">
                          <mat-icon>delete_outline</mat-icon>
                        </button>
                                    </div>
                                </td>

                            </tr>
                        </tbody>

                    </table>
                    <div class="pagination ">
                        <pagination-controls (pageChange)="p=$event"></pagination-controls>
                    </div>
                </div>
            </div>


        </div>
        <app-backend-footer></app-backend-footer>
    </div>
