<h3><i class="fa fa-angle-right"></i> List of commandes</h3>
<div>

    <div class="row">
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchText" />
<!-- 
        <button _ngcontent-roy-c3="" class="btn-meeting" type="submit" style="margin-left: 5%; width: 30%;" (click)="onCreateFournisseur()">Add fournisseur</button>
 -->
    </div>

    <table class="table table-striped">

        <thead class="thead-inverse">
            <tr>
                <th>Reference</th>
                 <th>Numéro</th>
                 <th>Client</th>
                <th>Total</th>
                <th>Status</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let commandeDTO of commandeDTOList | filter:searchText | paginate: {itemsPerPage: 4, currentPage: p} ">
                <td>{{commandeDTO?.reference}}</td>
                <td>{{commandeDTO?.numeroCommande}}</td>
                <td>{{commandeDTO?.clientDto.firstName}} {{commandeDTO?.clientDto.lastName}}</td>
                <td>{{commandeDTO?.total}}</td>
                <td>{{commandeDTO?.statusCommande}}</td>
                <td>{{commandeDTO?.dateCommande}}</td>
                
                <td>
                    <div class="container ">
                      <!--   <button mat-raised-button class="action-button btn-primary" (click)="addEditFournisseur(categoryDTO) ">
                          <mat-icon>edit</mat-icon>
                        </button> -->
                        <button mat-raised-button class="action-button btn-danger" (click)="onDeleteCommande(commandeDTO)">
                          <mat-icon>delete_outline</mat-icon>
                        </button>
                    </div>
                </td>

            </tr>
        </tbody>

    </table>
    <div class="pagination ">
        <pagination-controls (pageChange)="p=$event"></pagination-controls>
    </div>
</div>


