<app-main-top></app-main-top>
<!-- Breadcrumb Start -->
<!-- <app-breadcrumb></app-breadcrumb> -->
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
            <li class="breadcrumb-item active">Product List</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Product List Start -->
<div class="product-view">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="product-view-top">
                            <div class="row">
                                <div class="col-md-4">
                                    <!-- Start search in shop -->
                                    <app-search-in-shop></app-search-in-shop>
                                    <!-- End search in shop  -->
                                </div>
                                <!--  <div class="col-md-4">
                                    <div class="product-search">
                                        <input type="email" value="Search">
                                        <button><i class="fa fa-search"></i></button>
                                    </div>
                                </div> -->
                                <div class="col-md-4">
                                    <div class="product-short">
                                        <div class="dropdown">
                                            <div class="dropdown-toggle" data-toggle="dropdown">Product short by</div>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a href="#" class="dropdown-item">Newest</a>
                                                <a href="#" class="dropdown-item">Popular</a>
                                                <a href="#" class="dropdown-item">Most sale</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <app-searchby-price></app-searchby-price>
                                    <!-- <div class="product-price-range">
                                        <div class="dropdown">
                                            <div class="dropdown-toggle" data-toggle="dropdown">Product price range</div>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a href="#" class="dropdown-item">$0 to $50</a>
                                                <a href="#" class="dropdown-item">$51 to $100</a>
                                                <a href="#" class="dropdown-item">$101 to $150</a>
                                                <a href="#" class="dropdown-item">$151 to $200</a>
                                                <a href="#" class="dropdown-item">$201 to $250</a>
                                                <a href="#" class="dropdown-item">$251 to $300</a>
                                                <a href="#" class="dropdown-item">$301 to $350</a>
                                                <a href="#" class="dropdown-item">$351 to $400</a>
                                                <a href="#" class="dropdown-item">$401 to $450</a>
                                                <a href="#" class="dropdown-item">$451 to $500</a>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4" *ngFor="let artDTO of articleListDTOBs; let i = index">
                        <div class=" product-item ">
                            <div class="product-title">
                                <!-- <a routerLink="/product-detail/{{product.pSlug}} ">{{product.pName}}</a> -->
                                <a routerLink="/product-detail/{{artDTO.reference}}">{{artDTO.designation}}</a>
                                <div class="ratting ">
                                    <i class="fa fa-star "></i>
                                    <i class="fa fa-star "></i>
                                    <i class="fa fa-star "></i>
                                    <i class="fa fa-star "></i>
                                    <i class="fa fa-star "></i>
                                </div>
                            </div>
                            <div class="product-image">
                                <a routerLink="/product-detail/{{artDTO.reference}}">
                                    <!-- <img src="assets/customer/img/{{product.pImageDefault}} " alt="Product Image"> -->
                                    <img src="{{this.catalogueService.apiServerUrl+'/articles/photoArticle/'+artDTO.id}}" alt="Product Image">
                                </a>
                                <div class="product-action ">
                                    <a (click)="addTocart(artDTO)" style="cursor: pointer;">
                                        <i class="fa fa-cart-plus"></i>
                                    </a>
                                    <a href="#"><i class="fa fa-heart"></i></a>
                                    <a routerLink="/product-detail/{{artDTO.reference}}" style="cursor: pointer;">
                                        <i class="fa fa-search"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="product-price ">
                                <h3><span>$</span>{{artDTO.price}}</h3>
                                <a class="btn" (click)="[add2cat(1,artDTO), bynow()]">
                                    <i class="fa fa-shopping-cart "></i>Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Pagination Start -->
                <div class="col-md-12 ">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center" *ngIf="pages">
                            <!--  <li class="page-item disabled ">
                                <a class="page-link " href="# " tabindex="-1 ">Previous</a>
                            </li> -->
                            <li class="page-item active" class="clikable" [ngClass]="i==this.currentPage?'active':''" *ngFor="let p of pages; let i=index">
                                <a class="page-link" (click)="onPageArticle(i)" style="cursor:pointer">{{i}}</a>
                            </li>
                            <!--                   <li class="page-item "><a class="page-link " href="# ">2</a></li>
                            <li class="page-item "><a class="page-link " href="# ">3</a></li> -->
                            <!--  <li class="page-item ">
                                <a class="page-link " href="# ">Next</a>
                            </li> -->
                        </ul>
                    </nav>
                </div>
                <!-- Pagination Start -->
            </div>
            <!-- Side Bar Start -->
            <div class="col-lg-4 sidebar ">
                <!-- <app-sidebar-cat></app-sidebar-cat>
                <app-sidebar-slider></app-sidebar-slider>
                <app-sidebar-brands></app-sidebar-brands>
                <app-sidebar-tag></app-sidebar-tag> -->

                <app-sidebar></app-sidebar>

            </div>
            <!-- Side Bar End -->
        </div>
    </div>
</div>
<!-- Product List End -->

<!-- Brand Start -->
<app-brand></app-brand>
<!-- Brand End -->