<app-main-top></app-main-top>
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/home">Accueil</a></li>
            <li class="breadcrumb-item active">Notre catalogues</li>
        </ul>
    </div>
</div>
<div class="product-view">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="product-view-top">
                            <div class="row">
                                <div class="col-sm-6">
                                    <!-- Start search in shop -->
                                    <app-search-in-shop></app-search-in-shop>
                                    <!-- End search in shop  -->
                                </div>

                                <div class="col-sm-6">
                                    <div class="product-short">
                                        <select id="sort-by" (change)="sort($event)" class="form-control">
                                          <option value="" selected disabled hidden class="form-control">Filtrer Par</option>
                                          <option value="Name" class="form-control">Ordre de A à Z</option>
                                          <option value="Low" class="form-control">Articles les moins chers</option>
                                          <option value="High" class="form-control">Articles les plus chers</option>
                                        </select>

                                    </div>
                                </div>
                               <!--  <div class="col-md-4">
                                    <app-searchby-price></app-searchby-price>

                                </div> -->
                            </div>
                        </div> 
                    </div>

                    <div class="col-sm-4" *ngFor="let artDTO of articleListDTOBs; let i = index">
                        <div class="product-item ">
                            <div class="product-title">
                                <a routerLink="/product-detail/{{artDTO.reference}}">{{artDTO.designation}}</a>
                                <div class="ratting ">

                                    <ngb-rating
                                        [max]="5"
                                        [(rate)]="currentRating"
                                        [readonly]="true">
                                    </ngb-rating>
                                </div>
                            </div>
                            <div class="product-image">
                                <a routerLink="/product-detail/{{artDTO.reference}}">
                                    <img src="{{this.catalogueService.apiServerUrl+'/articles/photo-article/'+artDTO.id}}" alt="{{artDTO.designation}}">
                                </a>
                                <div class="product-action ">
                                    <a (click)="addTocart(artDTO)" style="cursor: pointer;">
                                        <em class="fa fa-cart-plus"></em>
                                    </a>
                                    <a routerLink="/product-detail/{{artDTO.reference}}" style="cursor: pointer;">
                                        <em class="fa fa-search"></em>
                                    </a>
                                </div>
                            </div>
                            <div class="product-price ">
                                <h3><span></span>FCFA {{ artDTO.price }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 ">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center" *ngIf="pages">
                            <!--  <li class="page-item disabled ">
                                <a class="page-link " href="# " tabindex="-1 ">Previous</a>
                            </li> -->
                            <li class="page-item active" class="clikable" [ngClass]="i==this.currentPage?'active':''" *ngFor="let p of pages; let i=index">
                                <a class="page-link" (click)="onPageArticle(i)" style="cursor:pointer">{{i}}</a>
                            </li>
                            <!--                   <li class="page-item "><a class="page-link " href="# ">2</a></li>
                            <li class="page-item "><a class="page-link " href="# ">3</a></li> -->
                            <!--  <li class="page-item ">
                                <a class="page-link " href="# ">Next</a>
                            </li> -->
                        </ul>
                    </nav>
                </div>
                <!-- Pagination Start -->
            </div>
            <!-- Side Bar Start -->
            <div class="col-sm-4 sidebar d-none d-sm-block d-xl-block">
                <!-- <app-sidebar-cat></app-sidebar-cat>
                <app-sidebar-slider></app-sidebar-slider>
                <app-sidebar-brands></app-sidebar-brands>
                <app-sidebar-tag></app-sidebar-tag> -->

                <app-sidebar></app-sidebar>

            </div>
        </div>
    </div>
</div>
<app-main-footer style="margin-top: 15px;"></app-main-footer>
