<div class="page-bread mb70">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3>Sign In</h3>
            </div>
            <div class="col-sm-6">

            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-6 col-md-6 col-md-offset-4">
            <div class="border-card">
                <h3 class="font300 mb0 text-center">Login to your account</h3>
                <hr>
                <form role='form'>
                    <div class='form-group-icon mb15'>
                        <i class='fa fa-envelope'></i>
                        <input type="email" class='form-control' placeholder="Username">
                    </div>
                    <div class='form-group-icon mb15'>
                        <i class='fa fa-lock'></i>
                        <input type="password" class='form-control' placeholder="Password">
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" id="rm">
                        <label for="rm">
                         Remember Me
                    </label>
                    </div>
                    <input type="submit" value="Login" class='btn btn-default btn-lg btn-block'>
                </form>
                <hr>
                <div class='text-center'>Or</div>
                <div class='buttons-login'>
                    <a href='#' class='btn btn-facebook btn-social btn-block'><i class='fa fa-facebook'></i> Login with facebook</a>
                    <a href='#' class='btn btn-twitter btn-social btn-block'><i class='fa fa-twitter'></i> Login with facebook</a>
                    <a href='#' class='btn btn-gplus btn-social btn-block'><i class='fa fa-google-plus'></i> Login with facebook</a>
                </div>
            </div>
        </div>
    </div>
</div>
