<div id="wrapper">
    <app-backend-sidebar></app-backend-sidebar>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <app-backend-header></app-backend-header>
            <div class="container-fluid">
                <h1>Nouveau Categorie</h1>
                <!--  <form #addArticleForm="ngForm" name="form" (ngSubmit)="onAddArticle()"> -->
                <form name="form" #addCategoryForm="ngForm">
                    <!--  <input type="hidden" name="id" #idCategory="ngModel" [(ngModel)]="editArticle.idCategory"> -->
                    <!-- <div class="row"> -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Code</label>
                            <!--  <div class="col-sm-10 col-md-6"> -->
                            <input type="text" class="form-control" [(ngModel)]="addEditCategoryData.code" name="code" id="code" placeholder="code" #code="ngModel" required>
                            <span class="text-danger" *ngIf="(code.touched || addCategoryForm.submitted) && code.errors?.required">
                        Code est obligatoire
                    </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Designation</label>
                            <!--  <div class="col-sm-10 col-md-6"> -->
                            <input type="text" class="form-control" [(ngModel)]="addEditCategoryData.designation" name="designation" id="designation" #designation="ngModel" placeholder="designation">
                            <span class="text-danger" *ngIf="(designation.touched || addCategoryForm.submitted) && designation.errors?.required">
                            Designation est obligatoire
                      </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success" (click)="submit()"><i class="fa fa-database"></i> Submit</button>&nbsp;
                        <button *ngIf="paramId" class="btn btn-warning" (click)="update()"><i class="fa fa-database"></i>Update</button>
                        <button type="button" class="btn btn-danger ml-1"><i class="fa fa-close"></i> Close</button>
                    </div>
                    <!-- </div> -->
                </form>

            </div>
        </div>

        <app-backend-footer></app-backend-footer>
    </div>

</div>
