<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Nouveau Versement</h1>
    <form #addCategoryForm="ngForm" name="form" (ngSubmit)="onAddCategory()">
     <!--  <input type="hidden" name="id" #idCategory="ngModel" [(ngModel)]="editCategory.idCategory"> -->

      <div class="form-group col-sm-6">
        <label>Code </label>
        <input type="text" class="form-control" [(ngModel)]="editCategory.code"
          name="code" id="code" #code="ngModel" required>
        <span class="text-danger"
          *ngIf="(code.touched || addCategoryForm.submitted) && code.errors?.required">
            Code est obligatoire
        </span>
      </div>

      <div class="form-group col-sm-6">
        <label>Designation</label>
        <input type="text" class="form-control" [(ngModel)]="editCategory.designation"
          name="designation" id="designation" #designation="ngModel" required>
        <span class="text-danger"
          *ngIf="(designation.touched || addCategoryForm.submitted) && designation.errors?.required">
          Désignation est obligatoire
        </span>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-success"><i class="fa fa-database"></i> Submit</button>&nbsp;
        <button type="button" class="btn btn-danger ml-1"><i class="fa fa-close"></i> Close</button>
      </div>

    </form>
 </div>
</div>
